@charset "utf-8";

@font-face {
    font-family: 'MinSans-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MinSans-Light;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #555;
}
header{
    z-index: 400;
    min-width: 100%;
    height: 95px;
    position: absolute;
    left: 0;
    top: 0;
    /* background-color: rgba(51, 51, 51, 0.7); */
}

header:hover{
    /* background-color: rgba(255, 255, 255, 0.4); */
    color: black;
}

#logo{
    width: 120px;
    height: 35px;
    float: left;
    margin-top: 32px;
    margin-left: 50px;
}

#logo a img{
    width: 100%;
    height: 100%;
}

header nav{
    width: 700px;
    height: 30px;
    margin: 35px 30px;
    float: left;
}

header nav ul{
    width: 500px;
    display: flex;
    justify-content: space-evenly;
}

header nav ul a li{
    float: left;
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family: MinSans-Light;
    padding-bottom: 10px;
}

header nav ul a li:hover{
    border-bottom: 4px solid rgb(255, 194, 25);
}

#mainBtn{
    width: 100%;
    padding: 30px 0 0 1500px;
    
}

#myBtn{
    width: 120px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 14px;
    z-index: 400;
    border-radius: 5px;
    border: 2px solid transparent;
   
}
#Btn{
    width: 150px;
    height: 40px;
    cursor: pointer;
    background-color:transparent;
    border: 2px solid rgb(255, 194, 25);
    z-index: 400;
    font-weight: bold;
    font-size: 13px;
    border-radius: 5px;
    color: white;
}

/* login popup */

.modal{
    margin: 100px auto;  
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 50;
}

.close{
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    opacity: 0.6;
    text-decoration: none;
    cursor: pointer;
  }

#main_login{
    box-sizing: border-box;
    width: 400px;
    height:500px;
    border: 2px solid rgb(94, 94, 94);
    background-color: black;
    color: white;
    padding: 40px;
}
#login-box h2{
    font-size: 30px;
    text-align: center;
    margin: 10px 20px;
}

#login-box #email,#pw{
  display: flex;
  margin: 20px;  
  margin: 20px auto;
}

input[type="email"]{
    width: 300px;
    height: 30px; 
    
}
input[type="password"]{
    width: 300px;
    height: 30px;    
}

#loginbutton{
    width: 308px;
    height: 40px;
    margin: 10px 5px;
    background-color: rgb(255, 194, 25);
    font-weight: bold;
    cursor: pointer;
}

.login_info{
    font-size: 10px;
    width: 230px;
    
}
#login-box .help{
    font-size: 10px;
    position: absolute;
    margin: -15px 110px;
    width: 200px;
    text-align: right;
}
#login-box .no{
    text-align: center;
    font-size: 15px;
    margin: 70px auto;
}
#login-box .go{
    text-align: center;
    font-size: 10px;
    color: blue;
}
#login-box .point{
    color: rgb(255, 194, 25);
}
#login-box a{text-decoration: none;
    color: rgb(145, 145, 145);}